.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 120px;
	padding-top: 12px;
	padding-right: 60px;
	padding-bottom: 12px;
	padding-left: 60px;
	background-color: var(--primary);
	border: none;
	border-radius: 50px;
	color: var(--white);
	font-family: var(--FiraSans);
	font-size: 44px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.03em;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover,
	&:focus {
		background-color: var(--hover);
	}

	&_fluid {
		display: flex;
		width: 100%;
	}

	// &_size_s {
	// 	min-height: 34px;
	// 	padding: 8px 14px;
	// 	border-radius: 17px;
	// 	font-size: 14px;
	// }

	// &_color_primary {
	// 	background-color: $primary;

	// 	&:hover,
	// 	&:focus {
	// 		background-color: $primary-light;
	// 	}
	// }

	// &_color_violet {
	// 	background-color: $violet-300;

	// 	&:hover,
	// 	&:focus {
	// 		background-color: darken($violet-300, 10%);
	// 	}
	// }
}
