.consultation-block {
	padding-top: 200px;
	padding-bottom: 70px;
	background-color: var(--gray-700);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;

	&__heading {
		display: block;
		margin-bottom: 45px;
		color: var(--white);
		font-size: 43px;
		line-height: 1.1875;
	}

	.user-data-form {
		max-width: 660px;
		margin: 0 auto;

		&__privacy {
			margin: 0 0 25px 0;
			color: var(--white);

			a {
				color: var(--primary);
				text-decoration: none;

				&:hover,
				&:focus {
					color: var(--hover);
				}
			}
		}

		.button {
			font-weight: bold;
		}
	}
}
