.footer {
	background-color: var(--gray-800);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon-link {
			margin-bottom: 30px;
		}

		.social-links {
			margin-bottom: 30px;
		}

		.adress {
			color: var(--white);
			font-size: 35px;
			line-height: 42px;
		}

		.email {
			margin-bottom: 100px;
			color: var(--white);
			font-size: 43px;
			line-height: 50px;
		}
	}
}
