.footer {
	background-color: var(--gray-800);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon-link {
			margin-bottom: 30px;
		}

		.social-links {
			margin-bottom: 30px;
		}

		.email {
			margin-bottom: 100px;
		}
	}
}

.adress {
	color: var(--white);
	font-size: 35px;
	line-height: 42px;
	text-align: center;
}

.email {
	color: var(--white);
	font-size: 43px;
	line-height: 50px;
}

.footer-menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 25px;
	width: 100%;
	margin-bottom: 60px;
}

.footer-link {
	color: var(--white);
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--primary);
	}
}

.requisites {
	margin-bottom: 10px;
	color: var(--white);
	font-size: 19px;
}
