.gauge-request-block {
	padding-top: 60px;
	padding-bottom: 100px;

	.heading-2 {
		margin-bottom: 60px;
	}

	.user-data-form {
		max-width: 660px;
		margin: 0 auto;

		&__privacy {
			margin: 10px 0 30px;

			a {
				color: var(--primary);
				text-decoration: none;

				&:hover,
				&:focus {
					color: var(--hover);
				}
			}
		}

		.button {
			font-weight: bold;
		}
	}
}
