.icon-link {
	display: flex;
	align-items: center;
	color: var(--primary);
	font-weight: 500;
	font-size: 43px;
	text-decoration: none;

	&__icon {
		width: 47px;
		height: 47px;
		margin-right: 10px;
	}

	&:hover,
	&:focus {
		color: var(--hover);
	}
}
