.popup {
	display: none;
	background-color: transparent;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 785px;
		padding: 50px 30px 130px;
		border-radius: 50px;
		background-color: var(--white);
	}

	&__heading {
		display: block;
		margin-bottom: 90px;
		font-size: 75px;
		text-align: center;
		line-height: 1.1875;
	}

	.button {
		font-size: 50px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.fancybox-button.fancybox-close-small {
	top: 40px;
	right: 40px;
	width: 80px;
	height: 80px;
}
