.price {
	&__from {
		margin-right: 10px;
		font-size: 64px;
	}

	&__old {
		margin-right: 20px;
		font-size: 64px;
		text-decoration: line-through;
		text-decoration-thickness: 6px;
	}

	&__new {
		color: var(--primary);
		font-size: 75px;
	}
}
