mixin advantages-block(props = {})
  include heading-2

  .advantages-block&attributes(attributes)
    .container
      +heading-2({tag: 'span'})
        |Выберите лидера и получите
        br
        |лучшие потолки
        br
        span по лучшей цене в Калуге
      ul.advantages-list
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/diamond.png)")
            b.advantage__heading 11 лет
            span.advantage__tagline безупречной работы
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/like.png)")
            b.advantage__heading > 21500
            span.advantage__tagline довольных клиентов
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/ruler.png)")
            b.advantage__heading >635 тыс м²
            span.advantage__tagline установлено
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/reward.png)")
            b.advantage__heading 20 лет
            span.advantage__tagline гарантия на работы
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/wallet.png)")
            b.advantage__heading Выгодная цена
            span.advantage__tagline
              |Экономия до 33% за счет
              br
              |отсутствия посредников.
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/moneybox.png)")
            b.advantage__heading 0%
            span.advantage__tagline рассрочка
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/loupe.png)")
            b.advantage__heading Многоуровневый контроль
            span.advantage__tagline качества
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/cup.png)")
            b.advantage__heading №1 в Калуге и области
            span.advantage__tagline каждый 2-й потолок установлен нами!
        li.advantages-list__item
          .advantage
            div.advantage__img(style="background-image: url(assets/img/cards.png)")
            b.advantage__heading Удобная оплата:
            span.advantage__tagline наличными, по карте банка, online оплата через сайт.
