mixin best-solutions-list(props = {})
  include best-solution

  -
    const bestSolutions = [
      {
        name: 'Белый глянцевый потолок в спальню, 10 м2',
        imgSrc: 'assets/img/best-solution-1.jpg',
        estimate: {
          'Полотно белое глянцевое, 10 м²': '2800',
          'Профиль 13 м.п.': '3250',
          'Крепление под люстру (крючок) 1шт.': '300',
          'Углы 4 шт.': '0',
          'Замер, доставка': '0',
        },
        sale: '500',
        totalPrice: '5850'
      },
      {
        name: 'Белый сатиновый потолок в спальню, 14 м²',
        imgSrc: 'assets/img/best-solution-2.jpg',
        estimate: {
          'Полотно белое сатиновое, 14 м²': '2800',
          'Профиль 16 м.п.': '4000',
          'Крепление под люстру (крючок) 1шт.': '300',
          'Углы 4 шт.': '0',
          'Замер, доставка': '0',
        },
        sale: '300',
        totalPrice: '6800'
      },
      {
        name: 'Белый глянцевый потолок на кухню, 6 м²',
        imgSrc: 'assets/img/best-solution-3.jpg',
        estimate: {
          'Полотно, белое глянцевое, 6 м²': '1700',
          'Профиль 10 м.п': '2500',
          'Крепление под люстру (крючок) 1шт.': '300',
          'Обход трубы, 1 шт': '300',
          'Углы 4 шт.': '0',
          'Замер, доставка': '0',
        },
        sale: '500',
        totalPrice: '4300'
      },
      {
        name: 'Белый глянцевый потолок в прихожую, 5 м²',
        imgSrc: 'assets/img/best-solution-4.jpg',
        estimate: {
          'Полотно, белое глянцевое, 5 м²': '1400',
          'Профиль 10 м.п': '2500',
          'Установка светильника, 3 шт.': '1500',
          'Углы, 6 шт (4 бесплатно)': '500',
          'Замер, доставка': '0',
        },
        sale: '500',
        totalPrice: '5500'
      },
      {
        name: 'Белый сатиновый натяжной потолок в гостиную, 16 м²',
        imgSrc: 'assets/img/best-solution-5.jpg',
        estimate: {
          'Полотно белое сатиновое, 16 м²': '3200',
          'Профиль 16 м.п.': '4000',
          'Крепление под люстру (крючок) 1шт.': '300',
          'Углы, 4 шт': '0',
          'Замер, доставка': '0',
        },
        sale: '500',
        totalPrice: '7000'
      },
    ]

  ul.best-solutions-list&attributes(attributes)
    each solution, index in bestSolutions
      li.best-solutions-list__item
        .container
          - const props = Object.assign(solution, {index: index});
          +best-solution(props)
