mixin calculator(props = {})
  include question

  .calculator&attributes(attributes)
    span.calculator__heading Расчет стоимости натяжного потолка
    .calculator__content
      label.calculator-input-label.calculator-input-label_prev
        span
          |Площадь
          br
          |потолка,
          br
          |м2
        |
        |
        input(type="number" min="5" max="25" step="1" value="5").calculator-input-label__input
      div.calculator-range
        span.calculator-range__segment 5
        input(type="range" min="5" max="25" step="1" style="background-color: linear-gradient(to right, #e50469 50%, #e5e8ed 50%)")
        span.calculator-range__segment 25
      label.calculator-input-label.calculator-input-label_next
        |Примерная
        br
        |стоимость
        |
        |
        br
        hr.calculator-input-label__hr
        b.calculator-input-label__summary 8270 руб
    .d_flex
      +question(data-fancybox="popup-includes" data-src="#popup-includes")
        |ЧТО ВХОДИТ В СТОИМОСТЬ?
