mixin calculator(props = {})

  .calculator&attributes(attributes)
    span.calculator__heading Расчет стоимости натяжного потолка
    input(type="range" min="5" max="25" step="1" style="background-color: linear-gradient(to right, #e50469 50%, #e5e8ed 50%)")
