mixin cta-block(props = {})
  include button

  .cta-block&attributes(attributes)
    .container
      +button({tag: 'a'})(class="button_fluid" data-fancybox="popup-gauge" data-src="#popup-gauge")
        |Вызвать замерщика БЕСПЛАТНО
