mixin popup-exact-price(props = {})
  include user-data-form

  .popup.popup-exact-price#popup-exact-price&attributes(attributes)
    form.popup__content
      span.popup__heading
        |УЗНАТЬ
        br
        |точную стоимость
      +user-data-form
        |Отправить
