mixin popup-includes(props = {})

  .popup.popup-includes#popup-includes&attributes(attributes)
    .popup__content
      .popup__heading В стоимость входит:
      ul.popup-includes__list
        li Замер
        li Доставка
        li Материал - белые полотна коллекции "Классика"
        li Профиль крепежный ПВХ
