mixin social-links(props = {})
  include icon-button

  .social-links&attributes(attributes)
    +icon-button({tag: 'a', iconId: 'telegram'})(class="icon-button_telegram")
    +icon-button({tag: 'a', iconId: 'viber'})(class="icon-button_viber")
    +icon-button({tag: 'a', iconId: 'whatsapp'})(class="icon-button_whatsapp")
