mixin usp(props = {})

  .usp
    .usp__date до 09.08
    .usp__price
      .middle-price-value 199
      .middle-price-markings
        .middle-price-markings-rubl ₽
        |
        |
        |м²
    .usp__text
      .bottom-plus +
      .bottom-text
        .bottom-text-line-one Светильники
        .bottom-text-line-two в подарок
