extends ../components/page

include ../components/banner
include ../components/cta-block
include ../components/popup-gauge
include ../components/popup-includes
include ../components/popup-exact-price
include ../components/calculator-block
include ../components/exact-price-block
include ../components/consultation-block
include ../components/gauge-request-block
include ../components/advantages-block
include ../components/saving-block
include ../components/gift-block
include ../components/catalog-block
include ../components/best-solutions-block
include ../components/popup-same-ceiling

block title
  |Главная страница

block content
  +header
  main
    +banner
    +cta-block
    +calculator-block
    +exact-price-block
    +catalog-block
    +gift-block
    +gauge-request-block
      |Оставьте заявку на вызов
      br
      |замерщика прямо сейчас:
    +advantages-block
    +saving-block
    +gauge-request-block
      |Оставьте заявку на бесплатный
      br
      |вызов замерщика и получите
      br
      |выгодную цену прямо сейчас:
    +best-solutions-block
    +consultation-block


    +popup-gauge
    +popup-includes
    +popup-exact-price
    +popup-same-ceiling
