extends ../components/page
include ../components/banner
include ../components/cta-block
include ../components/popup-gauge
include ../components/popup-includes
include ../components/popup-exact-price
include ../components/calculator-block
include ../components/exact-price-block
include ../components/consultation-block
include ../components/gauge-request-block
include ../components/advantages-block

block title
  |Главная страница

block content
  +header
  main
    +banner
    +cta-block
    +calculator-block
    +exact-price-block
    +consultation-block
    +gauge-request-block
    +advantages-block

    +popup-gauge
    +popup-includes
    +popup-exact-price
