$black: #000000;
$white: #ffffff;

$gray-200: #f8f8f8;
$gray-250: #b8b8b8;
$gray-300: #aeaeae;
$gray-400: #9da6b3;
$gray-500: #8693a8;
$gray-600: #616161;
$gray-700: #596271;
$gray-800: #383838;

$green-300: #b9db58;

$mint-300: #83af9b;

$crimson-300: #fe4365;

$burgundy-300: #765d69;

$yellow-300: #fdcb6e;

$salmon-300: #fcd0ba;

$blue-300: #2980b9;

$violet-300: #706edb;
$violet-700: #353c70;

$primary: #316fea;
$primary-light: #4f89fe;

:root {
	--white: #ffffff;
	--black: #000000;

	--primary: #e50469;
	--hover: #800000;
	--text: #223c57;

	--gray-50: #f7f7f7;
	--gray-100: #e5e8ed;
	--gray-300: #939598;
	--gray-700: #5a5f72;
	--gray-800: #52576a;

	--outline: #66afe9;

	--FiraSans: 'FiraSans', sans-serif;
}
